body {
    background-color: #121212;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E1D9D1;    
}

/* Seção para lista de serviços */

.produtos {
    width: 80vw;
    margin: 0 auto;
    padding: 10vw 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 30px 20px;
    border: 2px dotted #E1D9D1; /*solid / dotted / dashed*/ 
    border-radius: 10px 50px 10px 50px;
}

.produtos li:hover {
    border-color: #008B8B;
}

.produtos li:hover h2 {
    color: #008B8B;
    font-size: 35px;
}

.produtos li:active {
    opacity: 0.7;
    border-color: #008B8B;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 16px;
    font-weight: bold;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .produtos li {
        display: block;
        text-align: center;
        width: 100%;
        margin: 5% 1.5% 5% 1.5%;
        box-sizing: border-box;
        padding: 30px 30px;
        border: 2px dotted #E1D9D1; /*solid / dotted / dashed*/ 
        border-radius: 10px 50px 10px 50px;
        line-height: 1.4rem;
    }

    .produtos h2 {
        line-height: 2rem;
    }

}