footer {
    margin-top: 40px;
    text-align: center;
    background: #24252A ;

    position: absolute;

    width: 100%;

}

.copyright {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E1D9D1;
    font-size: 14px;
    padding-bottom: 10px;
}

.copyright:after {
    content: 'Copyright Barbearia Alura - 2022 ';
}