body {
    background-color: #121212;
    position: relative;
    padding-bottom: 58px;
    min-height: 93.8vh;

}

header {
    box-sizing: border-box;
    background-color: #24252A;
}

/* Barra de Navegação */

.box {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #24252A;
    height: 8vh;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

nav a {
    color: #E1D9D1;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
    color: #008B8B;
    text-decoration: underline;
    margin: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30%;
    margin-left: 20%;
    width: 20%;
}

.nav-list li {
    letter-spacing: 3px;
    margin-right: 60%;
}

/* Seção para lista de serviços */


.produtos {
    width: 80%;
    margin: 0 auto;
    padding: 8% 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 30px 20px;
    border: 2px dotted #E1D9D1; /*solid / dotted / dashed*/ 
    border-radius: 10px 50px 10px 50px;
}

.produtos li:hover {
    border-color: #008B8B;
    text-decoration: underline;
}

.produtos li:hover h2 {
    color: #008B8B;
    font-size: 35px;
}

.produtos li:active {
    opacity: 0.7;
    border-color: #008B8B;
    text-decoration: underline;
}

.produtos h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#E1D9D1;
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E1D9D1;
    font-size: 16px;
    font-weight: bold;
}

.produto-preco {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E1D9D1;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* Rodapé */

footer {
    margin-top: 40px;
    text-align: center;
    background: #24252A ;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.copyright {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E1D9D1;
    font-size: 14px;
    padding-bottom: 10px;
}
